.CreateTodoButton {
    background-color: #A27B5C;
    box-shadow: 0px 5px 20px #DCD7C9;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #DCD7C9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    z-index: 10;
    transform: rotate(0);
    transition: .3s ease;
  }
  
  .CreateTodoButton:hover {
    background-color: #DCD7C9;
    color: #A27B5C;
    transform: rotate(224deg);
  }

.CreateTodoButton.ButtonVacio{
  background: #0ff05a;
  animation:spin infinite 4s;
  box-shadow: 0  10px 50px #76BA99;

}
@keyframes spin {
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}