.TodoSearch {
  background: #3F4E4F;
  border-radius: 2px;
  border: 2px solid #202329;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #DCD7C9;
  box-shadow: 0px 3px 30px #A27B5C;
}

.TodoSearch::placeholder {
  color: #DCD7C9;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #A27B5C;
}